*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: royalblue;
}

.body{
    display: flex;
    justify-content: center;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventContainer{

}

.nameContainer{

}

.dateContainer{

}

.timeContainer{

}

.buttonContainer{

}